@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500&display=swap");
@import './style/header.scss';
@import './style/grid.scss';
@import './style/coupon-menu.scss';

.App {
  background-color: rgb(221, 221, 220);
  min-height: calc(100vh - 674px);
  padding: 30px 0px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
  font-family: "Red Hat Display", sans-serif;
}

input,
select,
option,
div {
  border: 0px;
}

button {
  background: none;
  border: 0px;
  cursor: pointer;
  padding: 0px;
  appearance: none;
}
