@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500&display=swap');

.App {
  background-color: rgb(221, 221, 220);
  min-height: calc(100vh - 674px);
  padding: 30px 0px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Red Hat Display', sans-serif;
}

input, select, option, div {
  border: 0px;
}

button {
  background: none;
  border: 0px;
  cursor: pointer;
  padding: 0px;
  appearance: none;
}

.wrapper {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  max-width: 100%;
}

@media (min-width: 1140px) {
  .wrapper {
    display: flex;
    flex: 0 0 83.3333%;
    flex-direction: column;
    max-width: 83.3333%;
  }
}

@media (min-width: 960px) {
  .wrapper {
    display: flex;
    flex: 0 0 75%;
    flex-direction: column;
    max-width: 75%;
  }
}

.wrapper-options {
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-width: 1px 1px 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-top-color: rgb(209, 209, 207);
  border-right-color: rgb(209, 209, 207);
  border-left-color: rgb(209, 209, 207);
  border-image: initial;
  border-bottom-style: initial;
  border-bottom-color: initial;
  border-radius: 6px 6px 0px 0px;
  display: flex;
  padding: 12px;
  position: sticky;
  top: 0px;
  z-index: 1000;
}

.filter-date {
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(221, 221, 220);
  border-radius: 3px;
  color: rgb(33, 33, 33);
  cursor: pointer;
  display: inline-flex;
  font-size: 13px;
  font-weight: 500;
  height: 32px;
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-right: 10px;
  padding: 0px 8px 0px 10px;
  position: relative;
  white-space: nowrap;
  width: 84px;
}

.filter-dropdown {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 10px;
  left: 0px;
  padding: 30px 20px;
  position: absolute;
  top: 42px;
  z-index: 100;
}

.filter-date option {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 16px;
  white-space: nowrap;
}

.filter-game-type {
  -webkit-box-align: center;
    align-items: center;
    background-color: rgb(221, 221, 220);
    border-radius: 3px;
    color: rgb(33, 33, 33);
    cursor: pointer;
    display: inline-flex;
    font-size: 13px;
    font-weight: 500;
    height: 32px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-right: 10px;
    padding: 0px 8px 0px 10px;
    position: relative;
    white-space: nowrap;
}

.benefits {
  width: 130px
}

.deleteButton {
  background-image: url(./assets/icons/trash.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(71, 76, 81);
  margin-right: auto;
  padding: 0px 10px;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 3px;
  color: rgb(33, 33, 33);
  cursor: pointer;
  display: inline-flex;
  font-size: 13px;
  font-weight: 500;
  height: 32px;
  -webkit-box-pack: end;
  justify-content: flex-end;
  position: relative;
  white-space: nowrap;
  width: 36px;
}

.top-header {
  background-color: rgb(52, 55, 59);
  border-left: 1px solid rgb(209, 209, 207);
  border-right: 1px solid rgb(209, 209, 207);
  color: rgb(255, 255, 255);
  display: flex;
  min-height: 44px;
  padding: 5px 0px 5px 11px;
  position: sticky;
  top: 57px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

.top-header > .filters {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  max-width: 510px;
  width: 100%;
}

.top-header > .odd-names {
  display: flex;
  margin-right: 23px;
  border-right: 1px solid rgb(37, 39, 42);
}

.top-header > .odd-names > .header-item {
  -webkit-box-align: center;
  align-items: center;
  border-left: 1px solid rgb(37, 39, 42);
  display: flex;
  font-size: 11px;
  font-weight: 500;
  -webkit-box-pack: center;
  justify-content: center;
  line-height: 16px;
  padding: 0px 10px;
  text-align: center;
  width: 93px;
}

.top-header > .odd-names > .header-item.small {
  width: 62px;
}

.top-header > .odd-names > .header-item.large {
  width: 124px;
}

.oddHeader {
  background-color: rgb(71, 76, 81);
  border-left: 1px solid rgb(209, 209, 207);
  border-right: 1px solid rgb(209, 209, 207);
  color: rgb(255, 255, 255);
  display: flex;
  height: 30px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  position: sticky;
  top: 101px;
  z-index: 50;
}

.oddHeader > .date {
  font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    padding-left: 10px;
}

.oddHeader > .odd-numbers {
  border-left: 1px solid rgb(52, 55, 59);
  display: flex;
  margin-left: auto;
  max-width: 459px;
  min-width: 397px;
}

.oddHeader > .odd-numbers > .odd-numbers-item {
  -webkit-box-align: center;
    align-items: center;
    border-right: 1px solid rgb(52, 55, 59);
    display: flex;
    font-size: 11px;
    font-weight: 700;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    width: 31px;
}

.oddHeader > .odd-numbers > .odd-numbers-item.thin {
  border-right: 0px;
  margin-left: auto;
  position: relative;
  width: 24px;
}

.game-grid {
  background-color: rgb(255, 255, 255);
  border-right: 1px solid rgb(209, 209, 207);
  display: flex;
  padding-right: 24px;
  position: relative;
}

.game-grid > .favorite {
  -webkit-box-align: center;
  align-items: center;
  border-right: 1px solid rgb(209, 209, 207);
  display: flex;
  font-size: 11px;
  font-weight: 700;
  height: 40px;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0px 2px;
  position: relative;
  border-left: 1px solid rgb(209, 209, 207);
  width: 38px;
}

.game-grid > .favorite > button {
  background-image: url(./assets/icons/favorite.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 19px 19px;
  height: 100%;
  width: 100%;
}

.game-grid > .betMandatory {
  -webkit-box-align: center;
  align-items: center;
  border-right: 1px solid rgb(209, 209, 207);
  display: flex;
  font-size: 11px;
  font-weight: 700;
  height: 40px;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0px 2px;
  position: relative;
  width: 34px;
}

.game-grid > .betMandatory > div {
  border-radius: 3px;
  flex: 0 0 16px;
  font-size: 11px;
  font-weight: 700;
  height: 16px;
  line-height: 16px;
  text-align: center;
  width: 16px;
  background-color: rgb(74, 144, 226);
  color: white;
}

.game-grid > .game-time {
  -webkit-box-align: center;
  align-items: center;
  border-right: 1px solid rgb(209, 209, 207);
  display: flex;
  font-size: 11px;
  font-weight: 700;
  height: 40px;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0px 2px;
  position: relative;
  width: 34px;
}

.game-grid > .game-league {
  -webkit-box-align: center;
  align-items: center;
  border-right: 1px solid rgb(209, 209, 207);
  font-size: 11px;
  font-weight: 700;
  height: 40px;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0px 2px;
  position: relative;
  width: 34px;
  display: block;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.game-grid > .game-teams {
  -webkit-box-align: center;
    align-items: center;
    border-right: 1px solid rgb(209, 209, 207);
    display: flex;
    font-size: 11px;
    font-weight: 700;
    height: 40px;
    position: relative;
    width: 34px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-width: 477px;
    padding: 0px 10px 0px 12px;
    cursor: pointer;
}

.game-bets > div:nth-child(even) {
  background: rgba(255, 255, 255, 0.63);
}

.game-grid > .odds {
  -webkit-box-align: center;
    align-items: center;
    border-right: 1px solid rgb(209, 209, 207);
    display: flex;
    font-size: 11px;
    font-weight: 700;
    height: 40px;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px 2px;
    position: relative;
    cursor: pointer;
    width: 31px;
}

.game-grid > .load-more {
  -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    font-weight: 700;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(153, 153, 153);
    color: rgb(255, 255, 255);
    font-size: 10px;
    height: 40px;
    letter-spacing: -0.2px;
    line-height: 10px;
    margin-left: auto;
    position: absolute;
    right: 0px;
    width: 24px;
    border-radius: 0px !important;
}

.game-grid > .load-more::before {
  border-left: 1px solid rgb(209, 209, 207);
  bottom: 0px;
  content: "";
  display: block;
  left: -1px;
  position: absolute;
  top: 0px;
  width: 1px;
}

.coupons-wrapper {
  bottom: 0px;
  height: 55px;
  position: fixed;
  right: 60px;
  width: 275px;
  z-index: 100000;
}

.coupons-wrapper > .coupon-menu-header {
  align-items: flex-start;
  background-color: rgb(243, 227, 0);
  border-radius: 6px 6px 0px 0px;
  cursor: pointer;
  display: flex;
  height: 55px;
  padding: 11px 32px 8px 13px;
  position: relative;
}

.coupons-wrapper > .coupon-menu-header > div {
  display: flex;
  flex-direction: column;
}

.coupons-wrapper > .coupon-menu-header > div > h6 {
  color: rgb(33, 33, 33);
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 1px;
}

.coupons-wrapper > .coupon-menu-header > div > p {
  color: rgb(33, 33, 33);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}